/* Definición de variables CSS personalizadas */
:root {
    /* Colores y estilos comunes */
    --background-beige: beige;
    --background-bisque: bisque;
    --text-black: black;
    --text-white: white;
    --text-gray: #333;
    --text-light: #666;
    --accent-orange: #ff5733;
    --accent-red: #e44d26;
    --nav-link-hover: #ddd;
    --menu-background: #fff;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --gradient-start: #008C45;
    --gradient-end: #CD2E3A;
    --card-background: #f4f4f4;
    --button-background: linear-gradient(to right, #008C45, white, #CD2E3A);
    --button-hover-background: linear-gradient(to right, #CD2E3A, white, #008C45);
}

/* Reset de estilos del navegador */
body, div, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilos para la sección de encabezado */
header {
    font-weight: bold;
    font-size: 30px;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: var(--background-bisque);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar a {
    color: white;
}

/* Estilos para los enlaces de navegación */
.nav-link {
    text-decoration: none;
    color: var(--text-gray);
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--text-gray);
    margin-top: 20px;
}

.nav-link:hover {
    background-color: var(--nav-link-hover);
}

/* Estilos para el logo de navegación */
.nav-logo {
    width: 60px;
    height: auto;
}

/* Estilos para la clase Pay */
.Pay {
    background-color: var(--background-beige);
    color: var(--text-black) !important;
}

/* Estilos para la sección de encabezado */
header {
    color: var(--text-black);
    text-align: center;
    padding: 20px 0;
    background-color: var(--background-bisque);
}

/* Estilos para la sección de contenido */
.content {
    margin: 20px;
    font-size: 35px;
    font-weight: bold;
}

/* Estilos para el pie de página */
footer {
    background-color: var(--text-gray);
    color: var(--text-white);
    text-align: center;
    padding: 10px 0;
}

/* Estilos para el fondo del cuerpo */
body {
    background-color: var(--background-beige);
}

/* Estilos para el contenido de las tarjetas */
.card__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card__content img {
    max-width: 50%;
    height: auto;
    margin-left: 75px; /* Ajusta el margen según tus necesidades */
    margin-bottom: 25px;
}

.card__content div {
    flex: 1;
}

.card__content h3,
.card__content p {
    margin-top: 5px;
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilos para encabezados de nivel 3 */
h3 {
    text-align: center;
    font-size: 30px;
}

/* Estilos para encabezados de nivel 4 */
h4 {
    margin-left: 500px;
}

/* Estilos para el menú */
.menu {
    background-color: var(--menu-background);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

.menu h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item h3 {
    color: var(--text-gray);
    font-size: 24px;
    text-align: left;
}

.menu-item .price {
    color: var(--accent-orange);
    font-size: 20px;
    font-weight: bold;
}

.menu-item p {
    color: var(--text-light);
    font-size: 18px;
    margin-top: 10px; /* Agrega margen superior para separar el precio del texto */
}

.menu-items {
    width: 70%; /* Ajusta el ancho del menú principal según sea necesario */
}

.menu1 img {
    float: right;
    max-width: 30%;
    margin-right: 100px;
    border-radius: 10px;
}

/* Estilos para tarjetas */
.card {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

section {
    text-align: center;
}

/* Estilos para encabezados de nivel 3 */
h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--text-gray);
}

.card__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

/* Estilos para el contenedor de texto */
.text-container {
    width: 45%;
}

/* Estilos para encabezados de nivel 4 */
h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--text-gray);
    margin-left: 250px;
}

/* Estilos para párrafos */
p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-light);
    margin-left: 25px;
}

/* Estilos para elementos de menú */
.menu-item {
    margin-bottom: 20px;
}

.text-container {
    margin-left: 25px;
    text-align: left;
    color: var(--text-black);
}

/* Estilos para precios */
.price {
    color: var(--accent-red);
    font-weight: bold;
    margin-right: 5px;
}

/* Estilos para submenús */
.sub-menu {
    margin-top: 10px;
}

.sub-menu-item {
    margin-bottom: 10px;
}

/* Estilos para encabezados de nivel 5 */
h5 {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--text-gray);
}

/* Estilos para imágenes en submenús */
.image-item {
    font-weight: bold;
}

/* Estilos para elementos de menú */
.menu-item {
    display: flex;
    flex-direction: column; /* Alinea los elementos de la sección como columna */
    text-align: left;
    margin-left: 25px;
}

.menu-item h3,
.menu-item .price,
.menu-item p {
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilos para submenús */
.sub-menu {
    display: flex;
    flex-direction: column; /* Alinea los elementos de la subsección como columna */
}

.sub-menu-item {
    text-align: left;
    margin-bottom: 20px;
}

.sub-menu-item h5,
.sub-menu-item h4,
.sub-menu-item .price,
.sub-menu-item p {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-left: 25px;
}

.sub-menu-item h5 {
    margin-bottom: 50px;
    font-size: 25px;
}

.sub-menu-item h6 {
    font-size: 25px;
    margin-left: 25px;
    color: var(--text-gray);
}

/* Estilos para botones */
a.button {
    background: var(--button-background);
    font-weight: bold;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--gradient-end);
    color: var(--text-white);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px; /* Ajusta el relleno para hacer el botón más estrecho */
    box-shadow: var(--box-shadow);
    width: 100px;
    color: var(--text-black);
    justify-content: center;
}

/* Estilos para íconos en botones */
a.button .flag-icon {
    font-size: 18px; /* Ajusta el tamaño del emoji o ícono */
    margin-right: 4px;
}

/* Estilos al pasar el ratón por encima de los botones */
a.button:hover {
    background: var(to right, #CD2E3A, white, #008C45);
    color: var(--text-black);
}

/* Estilos para imágenes */
div img {
    width: 100%; /* Ajusta el ancho según tus necesidades */
}

/* Estilos para imágenes en contenedor */
.image-container img {
    width: 100%;
    float: right; /* Coloca la imagen a la derecha */
}

.card__content img {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    float: right; /* Coloca la imagen a la derecha */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

/* Estilos para imágenes en menú */
.menu-image {
    width: 100%;
    float: right; /* Coloca la imagen a la derecha */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para la cuadrícula de imágenes */
.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Estilos para elementos de imágenes */
.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

/* Estilos para títulos de imágenes */
.image-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}

/* Estilos para el botón que activa el modal */
.combo-offer-trigger {
    cursor: pointer;
    display: block;
    margin: 20px auto; /* Auto para centrar horizontalmente */
    padding: 10px 20px;
    background: var(--button-background); /* Colores de la bandera italiana en el botón */
    color: var(--text-black);
    border-radius: 5px;
    text-align: center;
    z-index: 1; /* Asegura que el botón esté por encima del modal de fondo */
    max-width: 200px; /* Establece un ancho máximo para el botón */
    width: 100%; /* Hace que el ancho sea relativo al contenedor */
}

/* Estilos para el fondo del modal que se muestra detrás */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-beige); /* Color de fondo de la bandera italiana */
    opacity: 0.8; /* Opacidad para permitir ver lo de atrás */
    z-index: 0; /* Coloca el fondo detrás del contenido del modal */
}

/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Mostrar el modal cuando el Checkbox está marcado */
#combo-offer-toggle:checked + .modal {
    display: flex;
}

/* Estilos para el contenido dentro del modal */
.modal-content {
    position: relative;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end)); /* Gradiente con colores de la bandera italiana */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 70%; /* Ajustado el ancho para una mejor responsividad */
    max-width: 500px;
}

/* Estilos para el botón de cerrar en el modal */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: var(--text-black);
    cursor: pointer;
}

/* Estilos para el contenido dentro del modal */
.modal-content h2 {
    color: var(--text-white); /* Texto en color blanco */
}

.modal-content p {
    color: var(--text-white); /* Texto en color blanco */
}

/* Estilos para imágenes dentro del modal */
.modal-content img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 100px;
}

/* Estilos para imágenes en menú */
.menu-imatge {
    float: right; /* Coloca la imagen a la derecha */
    margin-left: 20px; /* Ajusta el margen izquierdo para separar la imagen del menú */
}

.menu-imatge img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Opcional: agrega bordes redondeados a la imagen */
}

/* Estilos para el interruptor de navegación en dispositivos móviles */
.nav-toggle {
    visibility: hidden;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin-top: 0;
    }

    .nav-logo {
        width: 40px;
    }

    .content {
        font-size: 24px;
        margin: 10px;
    }

    /* Ajustes adicionales para el contenido de la tarjeta en dispositivos móviles */
    .card__content {
        flex-direction: column; /* Ajustar la dirección del contenedor flex a columna */
        align-items: center; /* Centrar elementos en el contenedor */
        text-align: center; /* Alinear el texto al centro */
    }

    .card__content img {
        max-width: 100%; /* Ajustar el ancho de la imagen */
        margin: 0; /* Eliminar el margen */
    }

    h3, p {
        margin-top: 10px; /* Ajustar el margen para mantener espacio entre elementos */
    }

    h4 {
        margin-left: 0; /* Eliminar el margen izquierdo */
        text-align: center; /* Alinear el texto al centro */
    }

    /* Ajustes adicionales para el modal en dispositivos móviles */
    .modal-content {
        width: 80%;
        max-width: 400px;
        margin: auto; /* Centrar el modal horizontalmente */
    }

    .modal-close {
        top: 5px;
        right: 5px;
    }

    .menu1 img {
        max-width: 100%; /* Ajustar el ancho de la imagen */
        margin: 0; /* Eliminar el margen */
    }

    .menu1 {
        margin-left: 0;
    }

    /* Ajustes adicionales para el botón de navegación en dispositivos móviles */
    .nav-toggle {
        display: block;
        background-color: var(--background-bisque);
        width: 100%;
        color: var(--text-light);
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        text-align: center; /* Alinear el texto al centro */
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-bisque);
    }

    .nav-link {
        background-color: var(--text-gray);
    }

    .nav-link:hover {
        background-color: var(--nav-link-hover);
        color: var(--text-light);
    }

    .navbar.active {
        display: flex;
    }
}