body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: beige;
   
}

.menu {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
    margin-top: 175px;
}

h1, h2 {
    color: #333;
}

.section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

button {
    background-color: #008C45;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006634;
}
