:root {
  /* Definició de variables de colors */
  --color-fons-principal: black;
  --color-text-principal: white;
  --color-text-titol: gold;
  --color-animacio-imatge: rgba(0, 0, 0, 0.2);
  --color-sombra-element: rgba(0, 0, 0, 0.1);
}

/* Estil per al cos de la pàgina */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-text-principal);
  background-color: var(--color-fons-principal);
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Assegura que el cos ocupa tota l'alçada de la pantalla */
  display: flex;
  flex-direction: column;
}

/* Estils per al capçalera */
header {
  padding-bottom: 50px;
  margin: 25px;
}

header h1 {
  color: var(--color-text-titol);
  font-size: 2.4em;
  margin-bottom: 10px;
  text-align: center;
}

header h2 {
  color: var(--color-text-principal);
  font-size: 1.8em;
  text-align: center;
}

header img {
  width: 320px;
  height: 320px; /* Alçada fixa per a la imatge */
  margin: 0 auto;
  display: block;
}

.langtitle {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

/* Estil per als ítems de la graella */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.grid-item {
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px var(--color-sombra-element);
  border-radius: 10px;
  text-align: center;
  width: 200px; /* Amplada fixa */
  height: 200px; /* Alçada fixa */
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imatge per cobrir tot l'espai disponible */
  border-radius: 10px;
}

/* Peu de pàgina fix al final */
footer {
  padding: 25px;
  text-align: center;
  font-size: 1em;
  color: var(--color-text-titol);
  margin-top: auto; /* Col·loca el peu de pàgina al final del contingut */
}

/* Media queries per a mòbils */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .grid-container {
    flex-direction: column;
  }

  .grid-item {
    width: 120px; /* Amplada reduïda per a mòbils */
    height: 120px; /* Alçada reduïda per a mòbils */
  }

  .grid-item img {
    width: 100%;
    height: 100%;
  }
}

