/* Estil global per al cos de la pàgina */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Fons negre */
    color: #fff; /* Color de text blanc */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

/* Estil del contenidor principal del producte */
.product-container {
    background-color: rgba(200, 16, 46, 0.6); /* Fons vermell opac */
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 100%; /* S'ajusta a l'amplada del dispositiu */
}

/* Estil del títol principal del producte */
.product-container h1 {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}

/* Estil del títol secundari dels detalls del producte */
.product-container h2 {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

/* Estil del contenidor d'imatges */
.image-container {
    overflow: hidden; /* Garanteix que el vídeo no superi el radi de les vores */
    border-radius: 10px; /* Coincideix amb el contenidor del producte */
    margin-bottom: 20px;
}

/* Estil del vídeo del producte */
.image-container video {
    width: 100%; /* El vídeo ocupa tota l'amplada del seu contenidor */
    height: auto; /* Manté la proporció d'aspecte */
    border-radius: 10px; /* Cantons arrodonits per al vídeo */
}

/* Estil de la descripció del producte */
.description {
    text-align: justify;
    margin: 20px 0;
}

/* Estil de la llista d'ingredients */
.ingredients-list {
    text-align: left;
    list-style: inside;
    margin: 10px 20px;
}

/* Estil del contenidor de botons */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espai entre botons */
    margin-top: 20px;
}

/* Estil dels botons d'acció */
.action-button {
    background-color: #333; /* Gris fosc */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none; /* Elimina el subratllat dels enllaços */
}

/* Estil dels botons d'acció en l'estat de passar el ratolí per sobre */
.action-button:hover {
    background-color: #444; /* Gris lleugerament més clar */
}

/* Estil especial per als botons amb la classe "ultra" */
.ultra {
    background-image: url('../../../../Resources/bkgrd.gif'); /* Imatge de fons */
    color: black;
    font-weight: bold;
}