/* Estil general - La base de la nostra obra mestra! 🎨 */
body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Animació del títol - Balla, títol, balla! 💃 */
@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
}

/* Capçalera - La corona de la nostra pàgina! 👑 */
header {
    animation: pulse 3s infinite !important;
    margin: 50px;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
}

/* Títols de secció - Els herois sense capa! 🦸 */
h2 {
    font-size: 20px;
    font-weight: bold;
}

/* Navegació - El camí cap a l'aventura! 🧭 */
.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #333;
    transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
    color: #0056b3;
    background-color: #fff;
}

.Pay {
    background-color: red !important;
}

.ultra {
    background-image: url('/SelectorIdiomes/Resources/bkgrd.gif'); 
    color: black;
    font-weight: bold;
}

/* Estil del grid - El tablero del nostre joc! 🎲 */
.grid-container {
    background-color: rgba(200, 16, 46, 0.6);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.grid-item {
    background-color: rgba(200, 16, 47, 0.416);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: transform 0.5s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

/* Responsivitat - Ballant amb les mides! 📏🕺 */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .navbar, .nav-link {
        flex-direction: column;
    }
}

/* Imatges dels plats - Un festí per a la vista! 🍔 */
.grid-item img {
    width: 100%;
    height: 380px;
    border-radius: 10px;
    display: inline-block;
    transition: transform 0.5s ease;
}

.grid-item img:hover {
    transform: rotate(5deg);
}

/* Text dels items - Parlem del deliciós! 🗣️ */
.grid-item-text {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
}

.grid-item a {
    text-decoration: none;
    cursor: pointer;
}

.grid-item a:hover .grid-item-text p {
    color: orange;
}

/* Peu de pàgina - l'epíleg de la nostra història! 📚 */
footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

footer p {
    font-size: 16px;
    margin: 0;
}
