/* Color variables - A painter's palette! 🎨 */
:root {
    --color-fons-general: #000; /* General background color */
    --color-text-general: #fff; /* General text color */
    --color-link: #fff; /* Link color */
    --color-link-hover: #0056b3; /* Link hover color */
    --color-link-fons: #ff4500; /* Link background color */
    --color-link-fons-hover: #fff; /* Link background hover color */
    --color-pay: red; /* Pay button color */
    --color-ultra-text: black; /* Ultra text color */
    --color-grid-container: rgba(200, 16, 46, 0.6); /* Grid container color */
    --color-grid-item: rgba(200, 16, 47, 0.416); /* Grid item color */
    --color-nav-toggle: #272727; /* Navigation toggle color */
    --color-grid-item-text: black; /* Grid item text color */
    --color-footer: #000; /* Footer color */
    --color-modal-fons: #fff; /* Modal background color */
    --color-modal-text: #333; /* Modal text color */
    --color-modal-overlay: rgba(0, 0, 0, 0.7); /* Modal overlay color */
    --color-modal-close: #333; /* Modal close button color */
    --color-modal-trigger: #ff4500; /* Modal trigger button color */
}

/* General style - The canvas of our masterpiece! 🎨 */
body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    background-color: var(--color-fons-general);
    color: var(--color-text-general);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Animation for the title - Dance, title, dance! 💃 */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

/* Header - The crown of our page! 👑 */
header {
    animation: pulse 3s infinite !important;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
}

/* Section titles - The unsung heroes! 🦸 */
h2 {
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Navigation - The path to adventure! 🧭 */
.nav-logo {
    width: 60px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    text-align: center;
    color: var(--color-link);
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-link-fons);
    transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
    color: var(--color-link-hover);
    background-color: var(--color-link-fons-hover);
}

.Pay {
    background-color: var(--color-pay) !important;
}

/* Ultra style - The ultimate touch! 🚀 */
.ultra {
    background-image: url('../../Resources/bkgrd.gif'); 
    color: var(--color-ultra-text);
    font-weight: bold;
}

/* Food images - A feast for the eyes! 🍔 */
.grid-item img {
    width: 100%;
    height: 380px;
    border-radius: 10px;
    display: inline-block;
    transition: transform 0.5s ease;
}

.grid-item img:hover {
    transform: rotate(5deg);
}

/* Text for items - Let's talk delicious! 🗣️ */
.grid-item-text {
    padding: 10px;
    background-color: var(--color-grid-item-text);
    color: var(--color-text-general);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
}

.grid-item a {
    text-decoration: none;
    cursor: pointer;
}

.grid-item a:hover .grid-item-text p {
    color: orange;
}

/* Footer - The epilogue of our story! 📚 */
footer {
    background-color: var(--color-footer);
    padding: 20px;
    text-align: center;
    color: var(--color-text-general);
    margin-top: 20px;
}

footer p {
    font-size: 16px;
    margin: 0;
}

/* Modal trigger style - The button that reveals the special offer! 🎉 */
.combo-offer-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: var(--color-modal-trigger);
    color: var(--color-text-general);
    border-radius: 5px;
    text-align: center;
}

/* Basic modal style - A stage for our star offer! 🌟 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Show the modal when the Checkbox is checked */
#combo-offer-toggle:checked + .modal {
    display: flex;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-modal-overlay);
}

.modal-content {
    position: relative;
    background: var(--color-modal-fons);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 70%; /* Adjusted width for better responsiveness */
    max-width: 500px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: var(--color-modal-close);
    cursor: pointer;
}

/* Style for content inside the modal */
.modal-content h2 {
    color: var(--color-modal-text);
}

.modal-content p {
    color: var(--color-modal-text);
}

.modal-content img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

/* Grid style - The board of our game! 🎲 */
.grid-container {
    background-color: var(--color-grid-container);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.grid-item {
    background-color:
    var(--color-grid-item);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: transform 0.5s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

/* Large Screens - Desktops */
@media screen and (min-width: 789px) {
    .nav-toggle {
        visibility: hidden;
    }

    .navbar {
        /* Your existing styles for desktop navigation */
    }
}

/* Medium Screens - Tablets */
@media screen and (max-width: 768px) {
    .nav-toggle {
        /* Styles for nav-toggle on tablets */
    }

    .navbar {
        /* Adjusted styles for navbar on tablets */
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
        padding: 10px;
    }

    header h1, h2 {
        font-size: 24px; /* Adjusted font size for readability */
    }
}

/* Small Screens - Mobile Devices */
@media screen and (max-width: 480px) {
    .nav-toggle {
        display: block;
        background-color: var(--color-nav-toggle);
        width: 100%;
        color: var(--color-text-general);
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-nav-toggle);
    }

    .nav-link {
        display: block;
        margin: 5px;
        background-color: var(--color-link-fons);
        padding: 8px;
        color: var(--color-text-general);
    }

    .navbar.active {
        display: flex;
    }

    .grid-container {
        grid-template-columns: 1fr; /* Single column layout for mobile */
    }

    header h1, h2 {
        font-size: 20px; /* Adjusted font size for mobile screens */
    }

    .modal-content, .modal {
        width: 90%; /* Modal width adjusted for mobile screens */
    }
}