/* CSS for PAGIDIOM.html */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    padding-bottom: 50px;
}

/* AQUÍ ESTA LA CONFIG DE LA CAPÇALERA */

header {
    background-color: white;
    color: black;
    padding: 5px 0;
    text-align: center;
}

header img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* AQUÍ ESTA LA CONFIG DELS TÍTOLS */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

/* AQUÍ ESTA LA CONFIG DELS BOTONS COM ALTERNATIVA TEMPORAL AL GRID */

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px; /* espai entre els botons*/
    padding: 60px; 
    background-color: white;
}

.button-item {
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgb(19, 18, 18);
}

.button-item img {
    width: 300px;
    height: 150px;
    object-fit: resize;
    border: none;
    border-radius: 25px;
    
}

.button-item a {  /*  estil del link a les respectives pagines d'idiomes*/
    position: absolute;
    background-color: black;
    top: 42.5%;
    left: 40%;
    right: auto;
    bottom: auto;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    border: none;
}

/* AQUÍ ESTA EL PEU DE PÀGINA PER MOSTRAR LA DATA DE CREACIÓ I EL COPYRIGHT */

footer {
    background-color: rgb(98, 90, 90);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}