/* Fonts and general colors */

/* Estil per al cos de la pàgina - la base de l'aventura! 🌐 */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  background-image: url('/SelectorIdiomes/Resources/bkgrd.gif'); /* Ruta de la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Ajusta la imagen al tamaño del cuerpo */
  margin-top: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estils per a la capçalera */

header {
  padding-bottom: 50px;
  margin: 25px;
}

/* Estil per als títols de la capçalera - la llegenda de l'aventura! 📖 */
header h1 {
  color: #000000; /* Un color daurat com els tresors perduts! 💰 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.4em;
  margin-bottom: 10px;
  text-align: center; /* Centra el text - com un mapa que apunta al trésor! 🗺️ */
}

header h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-size: 1.8em;
  text-align: center; /* Centra el text - com un far que guia els mariners! ⚓ */
}

header img {
  padding-top: 32px;
  width: 320px;
  height: 320px; /* Altura desitjada per a la imatge! */
  margin: 0 auto; /* Centra la imatge horitzontalment - com el sol al zenit! ☀️ */
  display: block; /* Assegura que sigui tractada com un element de bloc! */

  /* Animació per a la imatge de la capçalera - com les ones del mar! 🌊 */
  animation: bounce 4s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Animacions dels elements de la graella */

.grid-container {
  display: flex;
  align-self: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
  justify-content: center;
  margin: 25px;
}

.grid-item {
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Animació per als contenidors d'elements de la graella - com els batecs del cor! 💓 */
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

/* Botons dels elements de la graella */
.grid-item a {
  text-decoration: none;
  max-width: fit-content;
  max-height: fit-content;

  /* Animació per als botons dels elements de la graella - com el tremolor d'una brisa! 🍃 */
  animation: shake 0.3s ease-in-out infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

/* Peu de pàgina */
footer {
  position: fixed;
  width: 100%;
  bottom: 0%;
  text-align: center;
  font-size: 1em;
  color: #000000; /* Un color daurat com les estrelles brillants! ✨ */
}

/* MEDIA QUERIES: per exemple, per a mòbils */
@media (max-width: 768px) {
  /* Estils específics per a pantalles més petites (p. ex., tauletes) */
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .grid-item {
    width: 150px;
    height: 120px; /* Ajusta l'altura per a pantalles més petites */
  }
}

@media (max-width: 480px) {
  /* Estils específics per a pantalles més petites (p. ex., mòbils) */
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .grid-item {
    width: 120px;
    height: 100px; /* Ajusta l'altura per a pantalles més petites */
  }
}
