/* Styling to make your website look fabulous! 💁‍♂️ */

body {
    font-family: 'Arial', sans-serif;
    background-color: #000; /* It's as black as midnight, just without the stars 🌌 */
    color: #fff; /* Because white is the new black! ⚪️ */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.product-container {
    background-color: rgba(200, 16, 46, 0.6); /* A dash of red to spice things up! 🌶️ */
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 100%; /* Adapts like a chameleon! 🦎 */
}

.product-container h1 {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}

.product-container h2 {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.image-container {
    overflow: hidden; /* Like a secret treasure chest! 🏴‍☠️ */
    border-radius: 10px; /* Because square corners are so last season! 😎 */
    margin-bottom: 20px;
}

.image-container video {
    width: 100%; /* Expands to fit like stretchy pants after a big meal! 🍔 */
    height: auto; /* Maintains its cool like the Fonz 🕶️ */
    border-radius: 10px; /* Curves in all the right places! 😏 */
}

.description {
    text-align: justify;
    margin: 20px 0;
}

.ingredients-list {
    text-align: left;
    list-style: inside;
    margin: 10px 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Gives buttons some breathing space, because even buttons need air! 🌬️ */
    margin-top: 20px;
}

.action-button {
    background-color: #333; /* As dark as the secrets you never tell! 🤫 */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none; /* Removes the unnecessary frills! 🚫🎀 */
}

.action-button:hover {
    background-color: #444; /* Slightly lighter gray, because we like gradients! 🌈 */
}

.ultra {
    background-image: url('../../../../Resources/bkgrd.gif');
    color: black;
    font-weight: bold;
}