body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe5c3;
    
}

.product-container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    color: #1b160f;
}


/*ESTILS EN CAS QUE SIGUI UN VIDEO: */

.video-container {
    margin-top: 20px;
}

video {
    max-width: 100%;
    border-radius: 10px;
}

/*ESTILS EN CAS QUE SIGUI UNA IMATGE: */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}


/*ESTILS DE LA DESCRIPCIÓ*/



.description {
    color: #524848;
    line-height: 1.5;
    margin: 20px auto; /* Alinea la descripción al centro horizontalmente */
    width: 600px; /* Establece un ancho fijo en píxeles para la descripción */
    font-size: 18px;
}


h2 {
    color: #1b160f;
    font-size: 24px;
    margin-top: 20px;
}

/*ESTILS DE LA LLISTA D'INGREDIENTS*/
.ingredients-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

.ingredients-list li {
    background-color: #ffd297;
    color: #1b160f;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.ingredients-list li:hover {
    background-color: #ffdbac; 
}

.ingredients-list li span {
    color: #524848;
    font-size: 14px;
}


.alergenos {
    display: block;
    align-items: center;
}

.alergenos span {
    margin-right: 10px; /* Ajusta según sea necesario */
}

.alergenos img {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px;
}






/*ESTILS DEL BOTÓ PAY NOW i BACK BUTTON*/

.Back-button, .buy-button {
    background-color: #eaad68;
    color: #1b160f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.Back-button:hover, .buy-button:hover {
    background-color: #ffdbac;
}

/* Estilos para pantallas pequeñas */

@media only screen and (max-width: 480px) {
    .product-container {
        max-width: 100%;
        margin: 20px;
    }

    .video-container {
        margin-top: 10px;
    }

    video,
    img {
        border-radius: 0; /* Eliminar el borde redondeado en las imágenes y videos */
        margin-top: 10px;
    }

    .description {
        width: 100%; /* Hacer que la descripción ocupe el ancho completo */
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
        margin-top: 10px;
    }

    .ingredients-list li {
        padding: 10px;
        margin-bottom: 5px;
    }

    .Back-button, .buy-button {
        padding: 8px 16px;
    }
}