/* Reset browser styles */
body, div, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

}

.navbar a {

color: white;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
}

.nav-link:hover {
    background-color: #ddd;
}

.Pay {
    background-color: purple;
}

header {
    color: black;
    text-align: center;
    padding: 20px 0;
    background-color: bisque;
}

.content {
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

body {
    background-color: beige;
}

section h2 {
    font-size: medium;
}

.container-videos {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 20px;
}

.video-container {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    width: 30%;
}

.video-container video {
    max-width: 100%;
    height: auto;
}



.card__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card__content img {
    max-width: 50%;
    height: auto;
    margin-left: 75px; /* Ajusta el margen según tus necesidades */
    margin-bottom: 25px;
}

.card__content div {
    flex: 1;
}

.card__content h3,
.card__content p {
    margin-top: 5px;
    text-align: left; /* Alinea el texto a la izquierda */
}

h3 {

    text-align: center;
    font-size: 30px;
}

h4 {

    margin-left: 500px;
}
/* Agrega estas reglas CSS para la sección del menú */
.menu {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.menu h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item h3 {
    color: #333;
    font-size: 24px;
    text-align: left;
}

.menu-item .price {
    color: #ff5733;
    font-size: 20px;
    font-weight: bold;
}

.menu-item p {
    color: #666;
    font-size: 18px;
    margin-top: 10px; /* Añade margen superior para separar el precio del texto */
}

.menu {
    display: flex;
    justify-content: space-between;

    
}

.menu-items {
    width: 70%; /* Ajusta el ancho del menú principal según tus necesidades */
}

.menu-item {
    margin-bottom: 20px;
}

.menu-image {
    width: 25%; 
    margin-right: 300px;
    margin-top: 50px;
    
    
}

.menu-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card__content {
    margin-top: 10px; /* Añade espacio entre el título y el contenido */
}

.card__content img {
    max-width: 40%; /* Hace que la imagen se ajuste al ancho del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block;
}

.card__content h3 {
    font-size: 24px; /* Ajusta el tamaño de la letra del título según tus necesidades */
}

.card__content h4 {
    font-size: 40px; /* Ajusta el tamaño de la letra del subtítulo según tus necesidades */
    /* Hace que el h4 ocupe todo el ancho disponible */
    margin-top: 25px;
    margin-left: 375px;
}

.card__content p {
    margin-top: 10px; /* Añade espacio entre el h4 y el párrafo */
    text-align: center; /* Centra el texto */
}




.menu-item {
    display: flex;
    flex-direction: column; /* Alinea los elementos de la sección como columna */
    text-align: left;
    margin-left: 25px;
}

.menu-item h3,
.menu-item .price,
.menu-item p {
    text-align: left; /* Alinea el texto a la izquierda */
    
}

.sub-menu {
    display: flex;
    flex-direction: column; /* Alinea los elementos de la subsección como columna */
}

.sub-menu-item {
    text-align: left;
    margin-bottom: 20px;
}

.sub-menu-item h5,
.sub-menu-item .price,
.sub-menu-item p {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-left: 25px;
}

.sub-menu-item h5{

 margin-bottom: 50px;
 font-size: 25px;
}





