body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #0056b3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header img {
    width: 100%; /* Hace que la imagen del encabezado ocupe todo el ancho */
    max-width: 400px; /* Establece un ancho máximo para la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */
}

.container {
    text-align: center;
    padding: 20px;
    flex-grow: 1;
}

h1 {
    color: #007bff;
}

p {
    margin: 20px 0;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .back-button {
        padding: 8px 16px;
    }

    footer {
        padding: 5px; /* Ajustar el padding del footer para pantallas más pequeñas */
    }
}

/* Nuevas consultas de medios para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    header img {
        max-width: 300px; /* Reducir el ancho máximo de la imagen para pantallas más pequeñas */
    }

    h1 {
        font-size: 1.2em;
    }

    .back-button {
        padding: 6px 12px;
    }

    footer {
        padding: 3px; /* Ajustar el padding del footer para pantallas más pequeñas */
    }
}

@media screen and (max-width: 480px) {
    header img {
        max-width: 250px; /* Reducir aún más el ancho máximo de la imagen para pantallas más pequeñas */
    }

    h1 {
        font-size: 1em;
    }

    .back-button {
        padding: 5px 10px;
    }
}
