body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #0056b3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #007bff;
}

p {
    margin: 20px 0;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px; /* Reducir el relleno para pantallas más pequeñas */
    }

    h1 {
        font-size: 1.5em; /* Reducir el tamaño del título */
    }

    .back-button {
        padding: 8px 16px; /* Reducir el relleno del botón */
    }
}
