/* Definición de variables de color */
:root {
    --color-fons-general: #000; /* Color de fondo general */
    --color-text-general: #fff; /* Color de texto general */
    --color-link: #fff; /* Color de los enlaces */
    --color-link-hover: #0056b3; /* Color de los enlaces al pasar el ratón */
    --color-link-fons: #ff4500; /* Color de fondo de los enlaces */
    --color-link-fons-hover: #fff; /* Color de fondo de los enlaces al pasar el ratón */
    --color-pay: red; /* Color de pago */
    --color-ultra-text: black; /* Color de texto ultra */
    --color-grid-container: rgba(200, 16, 46, 0.6); /* Color de fondo del contenedor de cuadrícula */
    --color-grid-item: rgba(200, 16, 47, 0.416); /* Color de fondo de los elementos de la cuadrícula */
    --color-nav-toggle: #272727; /* Color del botón de alternar navegación */
    --color-grid-item-text: black; /* Color de texto de los elementos de la cuadrícula */
    --color-footer: #000; /* Color de fondo del pie de página */
    --color-modal-fons: #fff; /* Color de fondo del modal */
    --color-modal-text: #333; /* Color de texto del modal */
    --color-modal-overlay: rgba(0, 0, 0, 0.7); /* Color de superposición del modal */
    --color-modal-close: #333; /* Color del botón de cerrar del modal */
    --color-modal-trigger: #ff4500; /* Color del gatillo del modal */
}

/* Estilo general - La base de nuestra obra maestra! 🎨 */
body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0 0 20px 0;
    text-align: center;
    background-color: var(--color-fons-general); /* Color de fondo general */
    color: var(--color-text-general); /* Color de texto general */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Animación del título - ¡Baila, título, baila! 💃 */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

/* Cabecera - La corona de nuestra página! 👑 */
header {
    animation: pulse 3s infinite !important;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
}

/* Títulos de sección - Los héroes sin capa! 🦸 */
h2 {
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Navegación - El camino hacia la aventura! 🧭 */
.nav-logo {
    width: 60px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    text-align: center;
    color: var(--color-link);
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-link-fons);
    transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
    color: var(--color-link-hover);
    background-color: var(--color-link-fons-hover);
}

.Pay {
    background-color: var(--color-pay) !important;
}

.ultra {
    background-image: url('../../Resources/bkgrd.gif'); 
    color: var(--color-ultra-text);
    font-weight: bold;
}

/* Imágenes de los platos - ¡Un festín para la vista! 🍔 */
.grid-item img {
    width: 100%;
    height: 380px;
    border-radius: 10px;
    display: inline-block;
    transition: transform 0.5s ease;
}

.grid-item img:hover {
    transform: rotate(5deg);
}

/* Texto de los elementos - ¡Hablemos delicioso! 🗣️ */
.grid-item-text {
    padding: 10px;
    background-color: var(--color-grid-item-text);
    color: var(--color-text-general);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
}

.grid-item a {
    text-decoration: none;
    cursor: pointer;
}

.grid-item a:hover .grid-item-text p {
    color: orange;
}

/* Pie de página - El epílogo de nuestra historia! 📚 */
footer {
    background-color: var(--color-footer);
    padding: 20px;
    text-align: center;
    color: var(--color-text-general);
    margin-top: 20px;
}

footer p {
    font-size: 16px;
    margin: 0;
}

/* Estilo del disparador del modal - ¡El botón que revela la oferta especial! 🎉 */
.combo-offer-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: var(--color-modal-trigger);
    color: var(--color-text-general);
    border-radius: 5px;
    text-align: center;
}

/* Estilo básico del modal - ¡Un escenario para nuestra oferta estelar! 🌟 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Mostrar el modal cuando el Checkbox está marcado */
#combo-offer-toggle:checked + .modal {
    display: flex;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-modal-overlay);
}

.modal-content {
    position: relative;
    background: var(--color-modal-fons);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 70%; /* Ancho ajustado para una mejor respuesta */
    max-width: 500px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: var(--color-modal-close);
    cursor: pointer;
}

/* Estilo para el contenido dentro del modal */
.modal-content h2 {
    color: var(--color-modal-text);
}

.modal-content p {
    color: var(--color-modal-text);
}

.modal-content img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

/* Estilo del grid - El tablero de nuestro juego! 🎲 */
.grid-container {
    background-color: var(--color-grid-container);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.grid-item {
    background-color:
    var(--color-grid-item);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: transform 0.5s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

/* Consultas de medios mejoradas para diseño responsivo */

/* Pantallas Grandes - Ordenadores */
@media screen and (min-width: 789px) {
    .nav-toggle {
        display
    }

    .navbar {
        /* Tus estilos existentes para la navegación de escritorio */
    }
}

/* Pantallas Medianas - Tablets */
@media screen and (max-width: 768px) {
    .nav-toggle {
        /* Estilos para nav-toggle en tablets */
    }

    .navbar {
        /* Estilos ajustados para navbar en tablets */
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para tablets */
        padding: 10px;
    }

    header h1, h2 {
        font-size: 24px; /* Tamaño de letra ajustado para legibilidad */
    }
}

/* Pantallas Pequeñas - Dispositivos Móviles */
@media screen and (max-width: 480px) {
    .nav-toggle {
        display: block;
        background-color: var(--color-nav-toggle);
        width: 100%;
        color: var(--color-text-general);
        padding: 10px 20px;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-nav-toggle);
    }

    .nav-link {
        display: block;
        margin: 5px;
        background-color: var(--color-link-fons);
        padding: 8px;
        color: var(--color-text-general);
    }

    .navbar.active {
        display: flex;
    }

    .grid-container {
        grid-template-columns: 1fr; /* Diseño de columna única para móviles */
    }

    header h1, h2 {
        font-size: 20px; /* Tamaño de letra ajustado para pantallas móviles */
    }

    .modal-content, .modal {
        width: 100%; /* Ancho del modal ajustado para pantallas móviles */
    }
}
