/* General Styles */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  background-color: #ff9900;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

header {
  background-color: #ffcc00;
  padding: 20px;
}

header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
}

#searchResults {
  border: 1px solid #ccc;
  padding: 20px;
}

main .section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

section p {
  font-size: 16px;
}

footer {
  background-color: #ff9900;
  padding: 20px;
  text-align: center;
}

/* Food Images */

section.Welcome {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.Welcome .content,
.History .content,
.Who? .content,
.Mission .content {
  width: 45%;
}

.Welcome .image,
.History .image,
.Who? .image,
.Mission .image {
  width: 45%;
}

.Welcome .image img,
.History .image img,
.Who? .image img,
.Mission .image img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}
