:root {
    --color-fondo-precio: #eaad68;
    --color-texto-precio: #1b160f;
    --color-texto-fondo: #ffffff; /* Puedes cambiar este color según tu diseño */
    --color-enlace-hover: #3366cc; /* Puedes cambiar este color según tu diseño */

    --color-fondo-body: #ffd297;
    --color-texto-nav: #1b160f;
    --color-fondo-nav: #ffd297;
    --color-enlace-nav: rgb(232, 119, 67);
    --color-enlace-hover-nav: black;
    --color--pay:  rgb(216, 152, 2);

    --color-texto-header: white;
    --color-fondo-header: rgb(255, 140, 69);

    --color-fondo-grid: #ffd297;
    --color-fondo-content: #FFB869;
    --color-texto-content-h2: #1b160f;
    --color-texto-content-p: #524848;

    --color-fondo-decide: #feab4c;
    --color-texto-decide-h3: #1b160f;
    --color-texto-decide-p: #524848;

    --color-fondo-preu: #eaad68;
    --color-texto-preu: #1b160f;

    --color-fondo-footer: #db6d3e;
    --color-texto-footer: white;
}


/* Reset browser styles */
body, div, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--color-fondo-body)
}


/*MODAL*/


#modal-toggle {
    
    /* Cambia el color de fondo cuando está marcado */
    background-color: black;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(79, 76, 76, 0.5);
}

.modal-content {
    background: #a7b770;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal h2 {
    color: #000000;
    margin-bottom: 10px; 
}

.modal p{
    margin-bottom: 10px;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #dcb658;
}

/* Mostrar el modal cuando el checkbox está marcado */
#modal-toggle:checked + .modal {
    display: flex;
}

.nav-logo{
    width: 60px;
    height: auto;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav-link {
    text-decoration: none;
    text-align: center;
    color: var(--color-texto-nav);
    padding: 8px 16px;
    border-radius: 8px;
    background-color:var(--color-enlace-nav); }

.nav-link:hover {
    background-color:var(--color-fondo-nav);;
    color: var(--color-enlace-hover-nav);
}

.Pay {
    background-color: var(--color--pay);
}

header {
    background-color: var(--color-fondo-header);
    color: var(--color-texto-header);
    text-align: center;
    padding: 20px 0;
}

@keyframes moveAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(30px); /* Puedes ajustar la distancia del desplazamiento según tus preferencias */
    }
}

header h1 {
    font-size: 2em;
    animation: moveAnimation 3s infinite; /* 3s es la duración de la animación, e "infinite" indica que la animación se repetirá indefinidamente */
}


.grid-container {
    background-color: var(--color-fondo-grid);
}

.content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    margin-bottom: 20px;
    background-color: var(--color-fondo-content);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    color: var(--color-texto-content-h2);
}

.content p {
    color: var(--color-texto-content-p);
    line-height: 1.5;
}

#platosEstrella {
    text-align: center;
    background-color: var(--color-fondo-content);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#platosEstrella h3 {
    color: var(--color-texto-content-h2);
}

#platosEstrella p {
    color: var(--color-texto-content-p);
    line-height: 1.5;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: var(--color-fondo-grid);
}

.image-item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.image-item img {
    max-width: 100%; /* Establecer un ancho máximo */
    height: 250px; /* Mantener la proporción original de la imagen */
    display: block; /* Eliminar el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centrar la imagen dentro de su contenedor */
    border-radius: 15px;
}



.image-item p {
    color: var(--color-texto-content-p);
    line-height: 1.5;
    margin-top: 10px;
}


.price-link:hover .price {
    color: var(--color-fondo-grid) /* color que deseas cuando estás encima del enlace */;
}



#userPreferences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    background-color: var(--color-fondo-content);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0;
}

#decide {
    text-align: center;
    background-color: var(--color-fondo-decide);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#decide h3 {
    color: var(--color-texto-decide-h3);
}

#decide p {
    color: var(--color-texto-decide-p);
    line-height: 1.5;
}

#userPreferences .suggested-dish {
    background-color: var(--color-fondo-grid);
    color: var(--color-texto-content-h2);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#userPreferences .suggested-dish img {
    max-width: 100%; /* Establecer un ancho máximo */
    height: 250px; /* Mantener la proporción original de la imagen */
    display: block; /* Eliminar el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centrar la imagen dentro de su contenedor */
    border-radius: 15px;
}

#userPreferences .suggested-dish h3 {
    background-color: var(--color-fondo-decide); /* Color del fondo del h3 */
    padding: 10px; /* Espaciado interno del h3 */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px; /* Ajusta según tus preferencias */
    color: var(--color-texto-decide-h3); /* Color del texto del h3 */
}


.dish-link {
    color: var(--color-texto-content-h2);
    text-decoration: none;
    transition: color 0.3s ease;
}

.dish-link:hover {
    color: var(--color-fondo-content);
}




/*ESTILS PEL PREU*/
.video-item {
    position: relative;
}

.price-container {
    background-color: var(--color-fondo-preu); /* Color del recuadro del precio */
    padding: 10px;
    border-radius: 0 0 10px 10px; /* Bordes redondeados solo en la parte inferior */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.price-container:hover{
    cursor: pointer;
}

.price {
    color: var(--color-texto-preu);
    font-weight: bold;
}
.image-item p {
    margin-bottom: 70px; /* Ajusta el espacio entre la descripción y el precio según tus necesidades */
}

footer {
    background-color: var(--color-fondo-footer);
    color: var(--color-texto-footer);
    text-align: center;
    padding: 10px 0;
}




/* Responsivitat - Ballant amb les mides! 📏🕺 */
@media screen and (min-width: 789px) {
    .nav-toggle {
        background-color: var(--color-nav-toggle);
        color: var(--color-nav-toggle);
        border-color: var(--color-nav-toggle);
        border-width: 0px;
        visibility: hidden;
    }
}

/* Add the following CSS for responsiveness */
@media only screen and (max-width: 768px) {
    .grid-container {
        padding: 10px;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-link {
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #userPreferences {
        grid-template-columns: repeat(1, 1fr);
    }
}

